/*全局*/
input[type=submit] {
	cursor: pointer
}
.alert {
	text-align: center;
}
.pointer {
	cursor: pointer
}

/*图片表单项*/
.image-upload-form .upload {
	display: inline-block;
	width: 60%;
	margin-right: 10px;
}
.image-upload-form .preview img {
	max-width: 32px;
	max-height: 32px;
}

.content-header .btn {
	margin-right: 10px;
}

/**/
.section-table {
	padding: 1rem;
}

.section-table .table-header {
	margin: 1rem 0;
}

.section-table .table-header .btn-action {
	color: #fff !important;
	cursor: pointer;
}

.forums-table td {
	position: relative;
}
.forums-table td .fa {
	position: absolute;
	left: 0;
	top: 15px;
	cursor: pointer;
}

.forums-ul {
	list-style-type: none;
}
.forums-ul.thead li {
	line-height: 40px;
	font-weight: bold;
	font-size: 18px;
}
.forums-ul.tbody li {
	border-top: 1px dotted #ddd;
	line-height: 34px;
}
.forums-ul.tbody .arrow {
	cursor: pointer;
	position: absolute;
	top: 10px;
	left: -12px;
}
.forums-ul li>span{
	display: inline-block;
	width: 16%;
	position: relative;
}

.topic-table td small {
	display: block;
}
.topic-table td, .topic-table th {
	vertical-align: middle;
}

.topic-detail .left-part{
	width: 12%;
	text-align: center;
}
.topic-detail .left-part .name{
	margin-bottom: 6px;
}
.topic-detail .left-part .stat-box th{
	text-align: center;
}
.topic-detail .table {
	margin-bottom: 0;
}
.topic-detail .tr-action>td:nth-child(1) {
	border-top: none;
}
.topic-detail .tr-action>td:nth-child(2) {
	border-top: 1px dotted #eceeef;
}
.topic-detail .tr-action>td:nth-child(2)>span {
	margin: 0 2px;
}

.topic-detail .comment-content {
	font-size: 1rem;
	text-align: left;
}
.topic-detail .comment-content .attachment-wrap {
	margin-top: 10px
}
.topic-detail .comment-content .attachment-wrap .attachment-image{
	max-width: 200px;
	max-height: 200px;
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
}
.topic-detail .comment-comment .reply-to-someone {
	margin-left: 6px;
}

/*图片上传*/
#comment-form .table-image-preview {
	display: none;
}
#comment-form .table-image-preview .btn {
	cursor: pointer;
	margin-right: 5px;
}
#comment-form .table-image-preview td {
	vertical-align: middle;
}

/*话题  + 回复 编辑*/
#form-edit-topic .attachment-image {
	display: inline-block;
	margin-right: 10px;
	position: relative;
}
#form-edit-topic .attachment-image:hover {
	outline: 1px solid red;
}
#form-edit-topic .attachment-image:hover .remove{
	display: inline-block;
}
#form-edit-topic .attachment-image .remove {
	cursor: pointer;
	position: absolute;
	right: -8px;
	top: -8px;
	color: red;
	display: none;
}
#form-edit-topic .attachment-image img{
	max-width: 100px;
	max-height: 100px;
}

/*附件*/
#table-attachment-index td img {
	max-width: 40px;
	max-height: 40px;
}

/*用户主页*/
#section-user-main-profile .avatar-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#section-user-main-profile .avatar-box img {
	max-width: 200px
}

/*内容编辑器*/
.editor-block {
	padding: 10px;
}
.editor-block:hover {
	background-color: #ddd;
}

.form-huisuo-jishi .contacts .contact-part {
	padding: 0
}
