/*全局*/
input[type=submit] {
	cursor: pointer
}
.alert {
	text-align: center;
}
.pointer {
	cursor: pointer
}

/*图片表单项*/
.image-upload-form .upload {
	display: inline-block;
	width: 60%;
	margin-right: 10px;
}
.image-upload-form .preview img {
	max-width: 32px;
	max-height: 32px;
}

.content-header .btn {
	margin-right: 10px;
}

/*帖子表格*/
.topic-table td small {
	display: block;
}

/*图文编辑*/
.editor-block:hover {
	background-color: #ddd;
}
.editor-block {
	padding: 4px;
	margin: 0px;
}
.editor-block-image {
    text-align: center;
}

/*帖子详情*/
.topic-show .left-part {
    width: 160px;
    text-align: center;
}
.topic-show header .left-part {
   vertical-align: middle;
}
.topic-show .left-part .name {
    padding-bottom: 10px;
    font-size: 20px;
}
.topic-show .left-part .stat-box {
    background-color: transparent;
}
.topic-show .left-part .stat-box th {
    text-align: center;
}
.topic-show .comment-comment .media {
    text-align: left;
}